In [1]:
# Dependencies
import pandas as pd

In [2]:
# We can create a Pandas Series from a raw list
data_series = pd.Series(["University of Melbourne", "UWA", "University of Sydney",
                         "La Trobe University", "University of Technology Sydney"])
data_series

0            University of Melbourne
1                                UWA
2               University of Sydney
3                La Trobe University
4    University of Technology Sydney
dtype: object

In [3]:
# Convert a list of dictionaries into a dataframe
states_dicts = [{"STATE": "Western Australia", "ABBREVIATION": "WA"},
                {"STATE": "New South Wales", "ABBREVIATION": "NSW"}]

states_df = pd.DataFrame(states_dicts)
states_df

               STATE ABBREVIATION
0  Western Australia           WA
1    New South Wales          NSW

In [4]:
# Convert a single dictionary containing lists into a dataframe
pharaoh_df = pd.DataFrame(
    {"Dynasty": ["Early Dynastic Period", "Old Kingdom"],
     "Pharaoh": ["Thinis", "Memphis"]
     }
)
pharaoh_df

                 Dynasty  Pharaoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis